* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.header {
    margin-top: 47px;
    margin-left: 42px;

}

.link-menu {

    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    margin-right: 32px;
    margin-left: 42px;

}

.sing-up {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    width: 124px;
    height: 51px;
    cursor: pointer;
    margin-top: 30px;
}

img {
    margin: 163px 0 0 123px;
    display: inline-block;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;

}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    font-style: normal;
    line-height: 33px;
}

.learn-more {

    font-size: 18px;
    font-weight: 500;
    color: #6FBF44;
    border: none;
    background: transparent;
    margin-top: 100px;

}

section {

    margin-right: 50%;
    margin: -400px 146px 372px 801px
}
